@font-face {
  font-family: 'raleway bold';
  src: url(../fonts/RalewayBold/Raleway-Bold.ttf);
  font-weight: 600;
  font-style: bold;
}
@font-face {
  font-family: 'raleway light';
  src: url(../fonts/RalewayLight/Raleway-Light.ttf);
  font-weight: 400;
  font-style: normal;
}