@font-face {
  font-family: "Open-Sans";
  src: url("../assets/fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@import 
url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');