@font-face {
  font-family: 'Realway';
  src: url(./fonts/Raleway/Raleway-VariableFont_wght.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Realway italy';
  src: url(./fonts/Raleway/Raleway-VariableFont_wght.ttf);
  font-weight: 400;
  font-style: normal;
}