* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #b07cf7;
}
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* header */
.header {
  text-align: center;
  color: white;
  width: 570px;
  margin: auto;
  margin-bottom: 50px;
}
.header-title {
  font-family:'Realway';
  font-size: 65px;
}
.header-text {
 font-family: 'Realway italy';
}
.main-conteiner {
  display: flex;
  flex-wrap: wrap;

}
.main-conteiner-list {
  display: flex;
  width: 370px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 0 7px 8px rgba(0,0,0,0.22);
}
img {
  width: 370px;
  height: 310px;
}
.main-container-list-box {
  position: absolute;
  color: white;
  font-family: 'Realway';
  
}
.maine-container-data {
  width: 60px;
  height: 60px;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 15px;
  background-color: #4f555f;
}
.container-data {
 text-align: center;
}
.maine-container-text {
  width: 330px;
  padding-top: 120px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.container-text {  
  margin-bottom: 25px;
  font-size: 15px;
}
.container-time {
  font-size: 10px;
}
.footer-bottom {
  margin: auto;
  width: 200px;
  height: 60px;
  background-color: red;
  box-shadow: 0 7px 8px rgba(0,0,0,0.22);
  margin-top: 35px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-bottom-red {
  font-family: 'Realway';
  text-decoration: none;
  font-size: 20px;
  color: white;
  
}