mixin cosmic()
  .c-cosmic(id="cosmic")
    .c-cosmic__wrapper
      .c-cosmic__texrarea 
        h2.e-cosmic__title КОСМИЧЕСКОЕ СПОКОЙСТВИЕ -
        .e-cosmic__subtitle
          p его вы почувствуете, когда начнёте работать с Gagarin Digital. 
          p Вам больше не придётся волноваться:
      .c-cosmic__question 
        .c-cosmic__question__wrapper
          svg.e-question__svg
            use(xlink:href="#icon-qustion")
          span.e-question__text сработает ли реклама 
        .c-cosmic__question__wrapper
          svg.e-question__svg
            use(xlink:href="#icon-qustion")
          span.e-question__text правильно ли выбраны площадки
        .c-cosmic__question__wrapper
          svg.e-question__svg
            use(xlink:href="#icon-qustion")
          span.e-question__text считываются ли визуал и айдентика
        .c-cosmic__question__wrapper
          svg.e-question__svg
            use(xlink:href="#icon-qustion")
          span.e-question__text будут ли тексты – продавать
        .c-cosmic__question__wrapper
          svg.e-question__svg
            use(xlink:href="#icon-qustion")
          span.e-question__text грамотно ли настроен таргет в социальных сетях 
      .c-cosmic__footer
        .c-cosmic__footer-text 
          p Волноваться будем мы. 
          p Наша команда позаботится, чтобы каждый элемент вашего продвижения функционировал без сбоев. Просто наслаждайтесь полётомutter 