mixin home()
  .c-home(id="home")
    +radial-gradient()
    .c-home__wrapper
      .c-home__title 
        h2.e-title-appeal ПРИЕМ! ГОВОРИТ
        h1.e-title-name GAGARIN DIGITAL 
      .c-home__abaut
        .c-buttom__abaut-item 
          a.e-buttom__item-form(href="#flag") ОСТАВИТЬ ЗАЯВКУ
        .c-text-about 
          p Ваш спутник в пространстве цифровой рекламы. 
          brp Приготовтесь начинаем глубокое продвижение!
