mixin portfolio()
  .c-portfolio(id="portfolio")
    .c-porfolio__wrapper
      .c-portfolio__texrarea 
        h2.c-porfolio__title НАШИ ПРОЕКТЫ
      .l-container
        .b-game-card
          .b-game-card__cover.first
          span.b-game-card__text ПРОМО ДЛЯ DDX FITNESS
        .b-game-card
          .b-game-card__cover.sec
          span.b-game-card__text РЕКЛАМА И SMM ДЛЯ ALL STARS
        .b-game-card
          .b-game-card__cover.last
          span.b-game-card__text ПРОДВИЖЕНИЕ КНИГ: LITHUNTERS
