mixin swiper()
  .swiper
    .swiper-wrapper
      .swiper-slide 
        +home()
      .swiper-slide
        +cosmic()
      .swiper-slide
        +portfolio()
      .swiper-slide
        +flag()
      .swiper-slide
        +footer()

    .swiper-pagination
