mixin burger-menu()
  .e-burger-menu
    a.e-burger-menu__button(href="#").js-burger-menu-button 
      span.e-burger-menu__lines
    nav.e-burger-menu__nav
      a.e-burger-menu__link(href="#cosmic") Услуги 
      a.e-burger-menu__link(href="#portfolio") Проекты 
      a.e-burger-menu__link(href="#flag") Связаться 
    .e-burger-menu__overlay(id="js-overley") 
