.c-home {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  min-height: 550px;
    @include media("<650px") {
      width: 100%;
     
    }
  &__wrapper {
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    position: absolute;
  }
  &__title {
    width: 100%;
    max-width: 1100px;
    color: $c-black;
    margin: 0 auto;
  }
    .e-title-appeal{
      width: 100%;
      color: $c-black;
      font-weight: 700;
      font-size: 70px;
      
    }
    .e-title-name {
      line-height: 130px;
      width: 100%;
      color: transparent;
      -webkit-text-stroke: 2px black;
      font-size: 120px;
      margin-bottom: 50px;
    }
    .c-home__abaut {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-evenly
    }
  }
  .c-buttom__abaut-item {
    background-color: $c-black;
    border-radius: 50px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .e-buttom__item-form {
    color: $c-white;
  }
  .c-text-about {
    color: $c-black;
  }

